<mat-card>
  <mat-card-header style="background-color: blue">
    <ng-content select=".head"></ng-content>
  </mat-card-header>
  <mat-card-content>
    <ng-content select=".content"></ng-content>
  </mat-card-content>
  <mat-card-footer style="background-color: red">
    <ng-content select=".foot"></ng-content>
  </mat-card-footer>
</mat-card>
<br />
<mat-card>
  <mat-card-header style="background-color: blue">
    <ng-content select=".head"></ng-content>
  </mat-card-header>
  <mat-card-content>
    <ng-content select=".content"></ng-content>
  </mat-card-content>
  <mat-card-footer style="background-color: red">
    <ng-content select=".foot">placeholder</ng-content>
  </mat-card-footer>
</mat-card>
